{% extends 'layout.html' %}
{% block content %}

<div class="container">

    <table id="grid">
        {% for i in range(9) %}
        <tr id="row{{ i }}">
            {% for j in range(9) %}
                <td>
                    {% if sudoku[i][j]==0 %}
                    <input id="row{{ i }} col{{ j }}" type="number">
                    {% else %}
                    <input id="row{{ i }} col{{ j }}" type="number" value="{{ sudoku[i][j] }}" disabled>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</div>


<button type="button" class="btn btn-info">Solve</button>

<button type="button" class="btn btn-danger">Check</button>


{% endblock %}